body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    font-weight: 400;
    color: #000!important;
}
.voffset-lg {
    margin-top: 80px;
}
.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0 0 0 #000;
}
.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}
.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}
.bgc-dark-slate-blue {
    background-color: #364577;
}
.bg-banniere {
    background-image: url(img/banniere.jpg);
}
.bg-presentation {
    background-image: url(img/presentation.jpg);
}
.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg-edge {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}
.texture-paper::before {
    background: url(img/paper.png);
    background-size: 280px 280px;
}
.bg-repeat {
    background: repeat;
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
}
.bgc-white {
    background-color: #fff;
}
.bg-dots-bg {
    background-image: url(img/dots.png);
}
.bg-lines-h2-bg {
    background-image: url(img/lines.png);
}
.bgc-dark {
    background-color: rgba(165, 147, 99, .7);
    padding: 40px 40px 40px 40px;
}
.bgc-tangerine {
    background-color: #f3976c;
}
.text-color {
    color: #500!important;
}
.text-color2 {
    color: #ffa07a;
}
.btn-tangerine {
    background: #f3976c;
    color: #fff!important;
}
.btn-tangerine:hover {
    background: #c27956!important;
    color: #fff!important;
}
.btn-rd {
    border-radius: 40px;
}
.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}
.cta-hero {
    margin-top: 22px;
    color: #000!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 1rem;
    font-weight: 700;
}
.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}
.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}
.icon-lg {
    font-size: 4rem;
}
.l-black {
    color: rgba(0, 0, 0, .5);
}
a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}
a[data-lightbox]:hover::before {
    content: "+";
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img {
    opacity: .6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}
#lightbox-modal {
    display: flex;
    align-items: center;
}
#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}
#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}
.lightbox-caption {
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
}
.close-lightbox {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: .3;
}
.close-lightbox:hover, .next-lightbox:hover, .prev-lightbox:hover {
    opacity: 1;
    color: #fff;
}
.next-lightbox, .prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: .4;
}
.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}
.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}
.snapshot-lb .modal-body {
    padding-bottom: 45px;
}
.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: 0 0;
}
.portfolio-thumb {
    margin-bottom: 24px;
}
.gray-bloc {
    color: rgba(0, 0, 0, 1);
}
.gray-bloc button:hover {
    color: rgba(0, 0, 0, .8);
}
.social {
    max-width: 400px;
    margin: auto auto auto auto;
}
.gray-bloc a .icon-md {
    color: rgba(255, 255, 255, .8);
}
.gray-bloc a:hover .icon-md {
    color: rgba(255, 255, 255, 1);
}
.icon-md {
    font-size: 2rem!important;
}
.blockquote-footer::before {
    content: " "}